<div class="inner">

    <h5>{{ article.title }}</h5>
        <span class="source-info">source: {{ article.source.name }}</span>
        <img [src]="article.urlToImage" alt="image not available" class="img-thumbnail">
        <div class="description">
            <p> {{ article.description }} </p>
        </div>
        <div class="button-wrapper">
            <button class="btn btn-primary" 
                   (click)="openModal(article)" >
                    <a >See more </a>
            </button>
        </div>
       
</div>