
.inner {
    margin: 10px;
    padding: 10px;
    border: 1px solid #bfbebe;
    height: 30em;
    overflow: hidden;
    min-width: 20em;
}

.description {
    max-height: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.source-info {
    color: grey;
}

.button-wrapper {
    position: absolute;
    bottom: 1em;
    right: 2em;
}