<h1>Top news by Category</h1>

<div class="container">
  <ngb-accordion type="light" *ngFor="let categorie of categories; let i = index;">
    <ngb-panel title="Panel One">
      <ng-template ngbPanelContent *ngFor="let item of categorie">
        <div>
          <div class="row">
              <div class="col-sm" *ngFor="let item of categorie">
                <app-card [article]="item" ></app-card>
              </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
