<div class="container-fluid">
  <h1>Top news by Category</h1>
  <hr>
    <ngb-accordion type="light" *ngFor="let category of categories; let i = index;">
      <ngb-panel title="{{ category.name | uppercase}}">
        <ng-template ngbPanelContent >
            <div class="row carousel-container">
              <ngb-carousel class="slider">
                <ng-template ngbSlide  *ngFor="let item of category.property">
                    <app-card [article]="item" ></app-card>
                </ng-template>
                
              </ngb-carousel>
  
            </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
</div>

