.search {
    margin: 5% 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #007bff;
}

.search:focus {
    outline: none;
}

.no-results {
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    color: grey;
}