<nav class="navbar">
    <div class="container-fluid">
        <ul class="navbar-header">
            <li class="navbar-brand"
            [routerLinkActive]="['active-link']" >
                <a routerLink="/top-news"> Top News  </a>
            </li>
            <li class="navbar-brand"
                [routerLinkActive]="['active-link']">
                <a routerLink="/categories"> Categories </a>
            </li>
            <li class="navbar-brand"
                [routerLinkActive]="['active-link']">
                <a routerLink="/search"> Search </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
                    <li><a>GB</a></li>
                    <li><a>US</a></li>
            </ul>
    </div>
</nav>