<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Top News </a>
            <a href="#" class="navbar-brand">Categories </a>
            <a href="#" class="navbar-brand">Search </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
                    <li><a style="cursor: pointer;">GB</a></li>
                    <li><a style="cursor: pointer;">US</a></li>
                </ul>
    </div>
</nav>