/* You can add global styles to this file, and also import other style files */
.modal-dialog{
    max-width:80%;
    max-height: 100%;
} 

.source-info {
    color: grey;
}

.not-available {
    color: grey;
    font-weight: 700;
}

.slider {
    max-width: 60%;
}
 .slider .carousel-indicators {
    display: none;
}

.spin {
    width: 6rem;
    height: 6rem;
}