<h1>Top news for US</h1>
<hr>
<div class="container">
<div class="row">
        <div class="col-md-4 col-xs-2" *ngFor="let article of news">
            <div class="inner">
                <h5>{{ article.title }}</h5>
                <span class="source-info">source: {{ article.source.name }}</span>
                <img [src]="article.urlToImage" alt="image not available" class="img-thumbnail">
                <div class="description">
                    <p> {{ article.description }} </p>
                </div>
                
                <button class="btn btn-primary see-more" 
                       (click)="openModal(article)" >
                        <a >See more </a>
                </button>
               
            </div>
        </div>

  </div>
</div>
